applications/packaging/src/org/mmbase/applications/packaging/resources/providerhandlers_1_0.dtd

<!--
    providerhandlers.dtd
-->

<!ELEMENT providerhandlers (providerhandler*)>

<!ELEMENT providerhandler (description*)>
<!ATTLIST providerhandler active CDATA #IMPLIED>
<!ATTLIST providerhandler method CDATA #IMPLIED>
<!ATTLIST providerhandler basescore CDATA #IMPLIED>
<!ATTLIST providerhandler class CDATA #IMPLIED>

<!ELEMENT description (#PCDATA)>
