applications/packaging/src/org/mmbase/applications/packaging/resources/providerinfo_1_0.dtd

<!--
    providerinfo.dtd
-->

<!ELEMENT provider (info?,application*,userinfo*)>

<!ELEMENT info (#PCDATA)>
<!ATTLIST info name CDATA #IMPLIED>
<!ATTLIST info description CDATA #IMPLIED>

<!ELEMENT application (user*)>
<!ATTLIST application name CDATA #IMPLIED>

<!ELEMENT user (#PCDATA)>
<!ATTLIST user name CDATA #IMPLIED>

<!ELEMENT userinfo (#PCDATA)>
<!ATTLIST userinfo user CDATA #IMPLIED>
<!ATTLIST userinfo password CDATA #IMPLIED>
