applications/packaging/src/org/mmbase/applications/packaging/packagehandlers/resources/dataset_1_0.dtd

<!--
     dataset.dtd
-->

<!ELEMENT dataset (creationinfo,objectsets?,relationsets?)>

<!ELEMENT creationinfo (creator,creationtime,creatorcomments)>

<!ELEMENT creator (#PCDATA)>
<!ATTLIST creator name CDATA #IMPLIED>
<!ATTLIST creator maintainer CDATA #IMPLIED>
<!ATTLIST creator version CDATA #IMPLIED>

<!ELEMENT creationtime (#PCDATA)>
<!ELEMENT creatorcomments (#PCDATA)>

<!ELEMENT objectsets (objectset*)>
<!ELEMENT objectset (#PCDATA)>
<!ATTLIST objectset builder CDATA #IMPLIED>
<!ATTLIST objectset path CDATA #IMPLIED>

<!ELEMENT relationsets (relationset*)>
<!ELEMENT relationset (#PCDATA)>
<!ATTLIST relationset builder CDATA #IMPLIED>
<!ATTLIST relationset path CDATA #IMPLIED>

