applications/packaging/src/org/mmbase/applications/packaging/packagehandlers/resources/objectset_1_0.dtd

<!--
     objectset.dtd
-->

<!ELEMENT objectset (object*)>
<!ATTLIST objectset type CDATA #IMPLIED>
<!ATTLIST objectset exportsource CDATA #IMPLIED>
<!ATTLIST objectset timestamp CDATA #IMPLIED>

<!ELEMENT object (field*)>
<!ATTLIST object number CDATA #IMPLIED>
<!ATTLIST object owner CDATA #IMPLIED>
<!ATTLIST object alias CDATA #IMPLIED>

<!ELEMENT field (#PCDATA)>
<!ATTLIST field name CDATA #IMPLIED>
<!ATTLIST field file CDATA #IMPLIED>
